*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* 버튼, 마진, 폰트 사이즈 */
body{
    background-color: #fafafa;
    padding-top: 30px;
}
.btn1{
    margin: 10px 0;
    background-color: #b2dffc;
    height: 30px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-weight: 700;
    width: 90%;
    outline-style: none;
}
.btn1:hover{
    background-color: #4caef0;
}
.btn1:active{
    background-color: #4caef0;    
}
/* mt, mb */
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.a-link-facebook{
    color: #385185;
    font-weight: 700;
    text-decoration: none;
}
.a-link-forget{
    text-decoration: none;
    font-size: 13px;
    color: #5771a8;
    font-weight: 600;
}
.foo{
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex-wrap: wrap;
}
.foo-letter{
    color: rgb(39, 68, 121);
    font-weight: 700;
    word-break: keep-all;
    font-size: 11px;
    margin-right: 3px;
    text-decoration: none;
}
.letter{
    color: grey;
    font-weight: 800;
    font-size: 9px;
    text-align: center;
}
